{% load staticfiles %}
<html>
<head>
<title>Colesk</title>
<link rel="stylesheet" href="{% static 'css/notif.css' %}">
<div class="menubar">
	<div class = "nav" style="background:linear-gradient(#6996ff,rgba(255,255,255,.8)); height:30px; width:99%; float:middle; text-align:right; padding:5px 7px 5px 7px; margin:0px 0px 0px 0px;">

		<a href="{% url 'main_page' %}">
			<img style="float:left; height:100%;" alt="Colesk" class = "logo" src = "{% static 'css/icon.png' %}" />
		</a>
		
		{% if user.is_authenticated %}
		<a href="{% url 'new_post' %}">New Post </a>
		{% endif %}
			
		
	</div>
</div>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
