{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {% block title %}
        <title>Signup</title>
    {% endblock title %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="signup-text">
    <h2>Not Signed up with Colesk, yet? Signup to get full access.</h2>
</div>

<div>
    <form action="{% url 'signup' %}" method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.label }}">{{ field.label }}</label><br>
            {{field}}<br><br>
        {% endfor %}
        <button type="submit">Create an Account</button>
    </form>
</div>
{% endblock body %}
