{% extends 'core/main.html' %} 
{% block content %}
<div style="width:100%; height:100%;">
<form style="margin:auto auto auto auto; display:block; width:200px; height:200px;" action="action_page.php">
  Username :<br>
  <input type="text" name="firstname" placeholder="User ID"><br>
  Password :<br>
  <input type="text" name="lastname" placeholder="Password"><br><br>
  <input type="submit" value="Submit">
  <br>
  <br>Not registered? Click<a href="{% url 'sign_up' %}"> Here</a>
  
</form>
</div>
{% endblock %}