{% load staticfiles %}
<html>
<head>
<title>Colesk</title>
<link rel="stylesheet" href="{% static 'css/notif.css' %}">
<div class="menubar">
	<a href="{% url 'main_page' %}">
		<img class = "logo" src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRJdaEztt3ZGNgDqfVy0nqpiKTrgiO-qHAId502rI_IEkAA2vnX_KRMqW8" width = "30px" height="30px" />
	</a>
	<div class = "nav">
		<ul>
			<li><a href="{% url 'my_feed' %}">Feed .</a></li>
			<li><a href="{% url 'networks' %}">Networks .</a></li>
			<li><a href="{% url 'profile' %}">Profile .</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'new_post' %}">New Post .</a></li>
			{% endif %}
			{% if user.is_anonymous %}
			<li><a href="{% url 'login' %}">login .</a></li>
			{% endif %} 
			
		</ul>
	</div>
</div>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>